{% extends 'base.html' %}
{% load static%}

{% block stylesheets %}
<title>Receipt</title>
{% endblock %}
<body>

    {% block content %}
        <ul class="rec-arr">
            {% for r in receipt %}
            {% if r.is_published %}
            <li>
                <h2>{{ r.title }}</h2>
                <p>{{ r.content }}</p>
                <p><a href = "{% url 'post' r.id %}">Читать рецепт</a></p>
                <hr>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <h2>Добавить рецепт</h2>
                <p><a href="#">Добавить рецепт</a></p>
            </li>
        </ul>
    {% endblock %}
</body>
</html>