<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %} {% endblock %}
</head>
<body>
 <style >
        #a{
            white-space: nowrap;
            font-size: 30px;
            font-weight: 700;
            text-decoration: none;
            color: black
        }
    </style>
    <div class="start">
        <span class="my_receipt"><p><a id="a" href="{% url 'startpage' %}">Мои рецепты</a></p></span>
        <div class="receipt_menu">
            {% for m in menu %}
                <p class="menu_text">
                    <a class="menu_text" href="{% url m.url_name %}">{{ m.title }}</a>
                </p>
            {% endfor %}
        </div>
    </div>

{% block content %} {% endblock %}
</body>
</html>