@import "menu_button.css";


html {
    font-family: sans-serif;
    font-weight: 200;
}
body{
    z-index: 0;
    overflow-x: hidden;
    margin: 0;
}



.my_receipt{
    font-stretch: expanded;
    padding-right: 100px;
    padding-left: 45px;
    padding-bottom: 5px;
    margin: 1px;
}

.receipt_menu{
    display:flex;
    width:100%;
    justify-content: space-around;
}
.start{
    min-height: 10px;
/*    height:100px;*/
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;

    /*border-radius: 30px;*/
    background-color: white;
    border-bottom: 1px grey;
    -webkit-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 80px -7px rgba(0, 0 , 0, 0.3);

}

.menu_text{
    text-decoration: none;
    color: black;
}




